.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.buttons{
    display: none;
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button:hover{
    cursor: pointer;
}

button{
    border-radius: 4px !important;
}

.table-dark
{
    min-height: 100vh;
}